#jinja2: lstrip_blocks: "True"

{% if ocserv_auth_method.options is defined %}
auth              = "{{ ocserv_auth_method.type }}[{{ ocserv_auth_method.options|join(',') }}]"
{% else %}
auth              = "{{ ocserv_auth_method.type }}"
{% endif %}

run-as-user       = {{ ocserv_user }}
run-as-group      = {{ ocserv_group }}

{% if ocserv_listen_ip is defined %}
listen-host       = {{ ocserv_listen_ip }}
{% endif %}
tcp-port          = {{ ocserv_tcp_port }}
udp-port          = {{ ocserv_udp_port }}

default-domain    = {{ ocserv_default_domain }}

socket-file       = {{ ocserv_socket_file }}

isolate-workers   = {{ ocserv_isolate_workers }}

max-clients       = {{ ocserv_max_clients }}
max-same-clients  = {{ ocserv_max_same_clients }}

keepalive         = {{ ocserv_keepalive }}

dpd               = {{ ocserv_dpd }}
mobile-dpd        = {{ ocserv_mobile_dpd }}

try-mtu-discovery = {{ ocserv_mtu_discovery }}

server-cert       = {{ ocserv_server_cert_path }}
server-key        = {{ ocserv_server_key_path }}
tls-priorities    = {{ ocserv_tls_prio }}

auth-timeout      = {{ ocserv_auth_timeout }}
min-reauth-time   = {{ ocserv_min_reauth_time }}
max-ban-score     = {{ ocserv_max_ban_score }}
ban-reset-time    = {{ ocserv_ban_reset_time }}
cookie-timeout    = {{ ocserv_cookie_timeout }}
deny-roaming      = {{ ocserv_deny_roaming }}
rekey-time        = {{ ocserv_rekey_time }}
rekey-method      = {{ ocserv_rekey_method }}

use-occtl         = {{ ocserv_use_occtl }}

pid-file          = {{ ocserv_pid_file }}

device            = {{ ocserv_device }}

predictable-ips   = {{ ocserv_use_predictable_ips }}

ipv4-network      = {{ ocserv_ipv4_network }}

{% for d in ocserv_dns_servers %}
dns               = {{ d }}
{% endfor %}

ping-leases       = {{ ocserv_ping_leases }}

config-per-user   = {{ ocserv_config_per_user_path }}
config-per-group  = {{ ocserv_config_per_group_path }}

{% if ocserv_connect_script_path is defined %} 
  {% if ocserv_connect_script_content is defined %}
connect-script    = {{ ocserv_connect_script_path }}
  {% endif %}
{% endif %}
