#jinja2: lstrip_blocks: "True"
{% for param in ocserv_config -%}

    {% set param_name = param | replace('_','-') -%}

    {% if ocserv_config[param] is string or ocserv_config[param] is number -%}

{{ param_name }} = {{ ocserv_config[param] }}

    {% elif param_name in ocserv_multi_options -%}

        {% if param_name in ocserv_bracketed_options -%}

            {% for multi in ocserv_config[param] -%}

{{ param_name }} = "{{ multi.name }}{% if multi.options is defined %}[{{ multi.options | join(',') }}]{% endif %}"

            {% endfor -%}

        {% else -%}

            {% for multi in ocserv_config[param] -%}

	        {% if multi is mapping -%}

{{ param_name }} = {{ multi }}

                {% endif -%}

            {% endfor -%}

        {% endif -%}

    {% endif -%}

{% endfor %}
